body{
    background-image: url(./fog.jpg.jpg);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 70%; 
}


.photo {
    width: 34%; 
    margin-right: 10px; 
}

.profile{
    color: wheat;
    font-size: 80px;
    position: relative;
    left: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#profilePara{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    position: relative;
    left: 150px;
}

#moreabout{
    color: rgb(214, 189, 45);
    font-size: 20px;
    position: relative;
    left: 150px;
    bottom: 270px;
}
#moreabout::after {
    content: "\2192"; 
    margin-left: 5px; 
}